/* Generic (ITCSS Layer) */
* {
    margin: 0;
    padding: 0;
}

/* Components (BEMIT convention) */
.c-header {
    border: 2px solid #c2c2c2;
    background-color: #F5F2C0;
    margin: 20px;
}

.c-header__logo-title {
    margin-left: 10px;
    text-align: center;
}

.c-header__title {
    text-transform: uppercase;
    display: inline-flex;
}

.c-header__logo {
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 100%;
}

.c-nav {
    display: flex;
    align-items: center;
    background-color: #C1C1C1;
    width: 100%;
}

.c-nav__items {
    display: flex;
}

.c-nav__item {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
}

.c-nav__item a:visited {
    color: #820682;
}

.c-nav__search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.c-search {
    margin-left: 10px;
}

.c-main {
    margin: 30px;
    margin-right: 0;
    display: flex;
}

.c-main__section {
    flex: 1;
}

.c-main__article {
    background-color: #F5F2C0;
    border: 2px solid #C1C1C1;
    margin-bottom: 20px;
    padding: 20px;
}

.c-main__article-title {
    font-size: 2em;
}

.c-main__article-subtitle {
    font-size: 1.5em;
}

.c-main__article-date {
    color: #808091;
}

.c-main__article-image-caption {
    font-style: italic;
}

.c-main__article-image {
    width: 300px;
}

.c-main__article-comments {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 20px;
}

.c-aside-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.c-aside {
    display: block;
    background-color: #C1C1C1;
    padding: 10px;
    margin-right: 20px;
    width: 270px;
}

.c-aside__image {
    width: 100%;
    height: auto;
    margin-right: 0;
}

.c-footer {
    border: 1px solid #C1C1C1;
    background-color: #F5F2C0;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .c-header {
        margin: 10px;
        padding: 0;
        border: 1px solid #C1C1C1;
        background-color: #F5F2C0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .c-header__logo-title {
        margin-bottom: 10px;
        text-align: center;
    }

    .c-header__title {
        font-size: 1.2em;
        display: inline;
        margin-bottom: 0;
    }

    .c-header__logo {
        width: 2%;
        height: 2%;
    }

    .c-nav {
        margin: 0;
        flex-direction: column;
    }

    .c-nav__items {
        padding-left: 10px;
        width: 100%;
    }

    .c-nav__item {
        margin-left: 0;
        width: 100%;
    }

    .c-nav__search-container {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .c-main {
        flex-direction: column;
        margin: 10px;
    }

    .c-main__section {
        width: 100%;
        margin-bottom: 20px;
    }

    .c-main__article {
        padding: 15px;
        margin-bottom: 10px;
    }

    .c-aside-container {
        margin-left: 0;
        margin-right: 20px;
    }

    .c-aside {
        width: 100%;
        margin: 0;
    }

    .c-footer {
        margin: 0;
        padding: 10px;
    }

    .c-main__article-image {
        width: 100%;
    }

    .c-aside__image {
        width: 100%;
        margin: 0;
    }
}
